# Ignore build artifacts
dist/
dist-newstyle/
.stack-work/

# Ignore temporary files
*.o
*.hi
*.aux
*.log
*.toc
*.out
*.pdf

# Ignore editor-specific files
.vscode/
.idea/
*.swp
*~

src/mks.exe
src/tree.png
src/mks